.wrapper {
    min-height: 76vh;
    width: 1024px;
    margin: 0 auto;
    position: relative;

    .container {
        padding: 0 20px;
        border: 1px solid #ddd;
    }

    .blog-detail-container {}
}