header {
  position: relative;
  width: 100%;
  min-width: 1024px;
  background-color: #000;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
}

.nav {
  position: relative;
  width: 1024px;
  height: 80px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;

  .logo {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 28px;
    display: inline-block;
    width: 32px;
    height: 32px;
    background-image: url('../assets/logo.png');
    background-position: center;
    background-size: contain;
  }

  .login-btn {
    position: absolute;
    z-index: 1;
    right: 0;
    top: 20px;
    text-decoration: none;
    display: inline-block;
    line-height: 1;
    white-space: nowrap;
    cursor: pointer;
    border: 1px solid #409eff;
    color: #606266;
    color: #fff;
    background-color: #409eff;
    -webkit-appearance: none;
    text-align: center;
    box-sizing: border-box;
    outline: none;
    margin: 0;
    transition: .1s;
    font-weight: 500;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    padding: 12px 20px;
    font-size: 14px;
    border-radius: 4px;
  }

  .profile {
    position: absolute;
    z-index: 10;
    right: 0;
    top: 20px;

    .profile-box {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 200px;

      .avator {
        width: 30px;
        height: 30px;
      }

      .name {
        color: #fff;
        font-size: 16px;
        margin-left: 10px;
        overflow: hidden;
      }
    }

    .draw-box {
      position: relative;
      .el-draw {
        height: 80px;
        width: 120px;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        position: absolute;
        right: 30px;
        top: 10px;
        border-radius: 1px;
        .li {
          width: 100%;
          text-align: center;
          cursor: pointer;
          &:first-child {
            border-bottom: 1px solid  rgba(102,102,102, .1);
          }
          a {
            color: #333;
            font-size: 14px;
            line-height: 40px;
            height: 40px;
            text-decoration: none;
          }
          &:hover {
            background-color: rgba(102,102,102, .1);
          }
        }
      }
    }
  }

  .nav-ul {
    flex: 1;
    list-style: none;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 30px;

    li {
      margin-right: 30px;
      line-height: 76px;

      a {
        text-decoration: none;
        color: #fff;
        font-size: 18px;
        transition: all 0.4s ease-in;
      }

      border-bottom: 3px solid #000;

      &.active {
        border-bottom: 3px solid #F56C6C;
        transition: all 0.4s ease-in;

        a {
          color: #F56C6C;
        }
      }

      &:hover {
        transition: all 0.4s ease-in;

        a {
          color: #F56C6C;
        }
      }
    }
  }
}

.footer {
  background-color: #000;
  height: 120px;
  width: 100%;
  min-width: 1024px;
  margin-top: 50px;
  color: #fff;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .detail {
    line-height: 20px;
  }

  .tips {
    line-height: 30px;
  }
}