.wrapper {
  min-height: 76vh;
  width: 1024px;
  margin: 0 auto;
  position: relative;
}
.wrapper .slide-container .icon {
  display: inline-block !important;
  background-size: 24px 24px;
  background-position: center;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  margin-bottom: -5px;
  font-size: 23px;
  color: #8a8a8a;
}
.wrapper .slide-container .icon.icon-renwu {
  background-image: url('../assets/icon-renwu.png');
}
.wrapper .slide-container .icon.icon-left {
  background-image: url('../assets/icon-arrow-left.png');
}
.wrapper .slide-container .icon.icon-tx {
  background-image: url('../assets/icon-touxiang.png');
}
.wrapper .slide-container .icon.icon-xt {
  background-image: url('../assets/icon-xitong.png');
}
.wrapper .slide-container {
  background-color: #fff;
  width: 200px;
  position: absolute;
  z-index: 10;
  left: 0;
  top: 0;
  border: 1px solid rgba(153, 153, 153, 0.2);
  box-shadow: 0px 0px 6px #999;
  list-style: none;
  margin: 0;
  padding: 0;
}
.wrapper .slide-container .slide-item {
  cursor: pointer;
  padding: 10px;
  font-size: 16px;
  color: #333;
}
.wrapper .slide-container .slide-item:not(.wrapper .slide-container .slide-item:last-child) {
  border-bottom: 1px solid #ddd;
}
.wrapper .slide-container .slide-item span {
  margin: 0 10px;
}
.wrapper .slide-container .slide-item:active,
.wrapper .slide-container .slide-item:hover {
  background-color: rgba(153, 153, 153, 0.1);
}
.wrapper .slide-container .slide-item .icon-left {
  float: right;
}
.wrapper .slide-container .slide-item.active,
.wrapper .slide-container .slide-item:hover {
  background-color: rgba(153, 153, 153, 0.1);
}
.wrapper .slide-container .slide-item.active span,
.wrapper .slide-container .slide-item:hover span {
  color: #1296db;
}
.wrapper .slide-container .slide-item.active .icon,
.wrapper .slide-container .slide-item:hover .icon {
  color: #1296db;
}
.wrapper .slide-container .slide-item.active .icon-tx,
.wrapper .slide-container .slide-item:hover .icon-tx {
  background-image: url('../assets/icon-touxiang-v.png');
}
.wrapper .slide-container .slide-item.active .icon-renwu,
.wrapper .slide-container .slide-item:hover .icon-renwu {
  background-image: url('../assets/icon-renwu-v.png');
}
.wrapper .slide-container .slide-item.active .icon-xt,
.wrapper .slide-container .slide-item:hover .icon-xt {
  background-image: url('../assets/icon-xitong-v.png');
}
.wrapper .main-container {
  width: 800px;
  padding: 0 15px 15px 15px;
  margin-left: 224px;
}
.wrapper .main-container .main-item .card {
  padding: 10px 20px;
}
.wrapper .main-container .personal-box .user-item {
  padding: 10px;
  font-size: 16px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  border-bottom: 1px solid #ddd;
  background-color: #fff;
}
.wrapper .main-container .personal-box .user-item:hover {
  background-color: #f5f5f5;
}
.wrapper .main-container .personal-box .user-item:last-child {
  border: none;
}
.wrapper .main-container .personal-box .user-label {
  width: 80px;
  text-align: right;
  font-weight: bold;
}
.wrapper .main-container .personal-box .desc {
  flex: 1;
}
.wrapper .main-container .system-box .add-wrapper,
.wrapper .main-container .car-box .add-wrapper,
.wrapper .main-container .articl-box .add-wrapper,
.wrapper .main-container .user-box .add-wrapper {
  margin: 0 0 20px 0;
  text-align: right;
}
.wrapper .main-container .system-box .card,
.wrapper .main-container .car-box .card,
.wrapper .main-container .articl-box .card,
.wrapper .main-container .user-box .card {
  max-height: 70vh;
  overflow: auto;
  border: 1px solid #f1f1f1;
}
.wrapper .main-container .system-box .card table,
.wrapper .main-container .car-box .card table,
.wrapper .main-container .articl-box .card table,
.wrapper .main-container .user-box .card table {
  width: 100%;
}
.wrapper .main-container .system-box .card .ellipis-3,
.wrapper .main-container .car-box .card .ellipis-3,
.wrapper .main-container .articl-box .card .ellipis-3,
.wrapper .main-container .user-box .card .ellipis-3 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.admin-page .main-container {
  width: 1024px;
  margin-left: 0;
}
#add_task_modal.modal .form-item {
  margin-bottom: 10px;
}
